<div gs-component="modal">
    <!-- Overlay -->
    <div class="gs-modal-overlay gs-hidden" id="gs-modal-{{ .id }}">
        <!-- Modal Dialog -->
        <div class="gs-modal-content">
            <div class="gs-modal-header">
                <h3 class="gs-modal-title">{{ .title }}</h3>
                <button class="gs-modal-close" gs-click="GoStack.closeModal('{{ .id }}')">&times;</button>
            </div>
            
            <div class="gs-modal-body">
                {{ .content }}
            </div>
            
            <div class="gs-modal-footer">
                {{ .footer }}
            </div>
        </div>
    </div>
</div>
